body {
    background-color: black;
}

h1 {
    color: #999999;
}

.top {

}

.board {
    width: 600px;
    margin: 40px auto;
}

.dot {
    width: 25px;
    height: 25px;
    background-color: silver;
    float: left;
}
