.wrapper {
    margin: 40px auto;
}
body {
    background-color: black;
}
.gameSqm {
    float: left;
    background-color: blue;
}
h1 {
    color: #999999;
    text-align: center;
}

.board {
    margin: 0 auto;
    height: 512px;
    width: 512px;
    background-color: #999999;
}
